  /****************************************
  GENERAL
  ****************************************/
a {
  text-decoration: none;
  color: #fff;
}

#alexanderPhoto {
  max-width: 100%;
  text-align: center;
  margin: 30px 30px;
}
#alexanderPhoto img {
border-radius: 100%;
}

#aboutContent {
  max-width: 100%;
  margin: 50px 0;
  padding: 0 5%;
}

#aboutContent h1, #aboutContent h2 {
    text-align: center;
    line-height: 10px;
}

#aboutContent p {
  margin-top: 30px;
  padding: 0 5%;
}

#buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#buttonWrapper button {
  width: 40%;

}

  /****************************************
  CONTACT FOOTER
  ****************************************/

#contactFooter {
  margin-top: 50px;
  padding: 0 10%;
}

#contactFooter p {
  margin: -10px 0 30px 0;
}

#contactMe a {
  color: #000;
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 15px 15px;
  padding: 0 0 0 20px;
}

#contactMe {
  list-style: none;
  font-size: 1em;
  padding: 0 0;
  margin: 0;
}

#contactMe li {
  margin-bottom: 5px;
}
#contactMe li#phone a {
  background-image: url('../img/telephone-icon.svg');
}

#contactMe li#mail a {
  background-image: url('../img/email.svg');
}
#contactMe li#facebook a {
  background-image: url('../img/facebook-logo.svg');
}
#contactMe li#linkedin a {
  background-image: url('../img/linkedin-logo.svg');
}

#contactFooter #copyright {
  margin-top: 20px;
  text-align: center;
  font-size: 0.6em;
}
  /****************************************
  MY SKILLS
  ****************************************/
  #mySkills {
    max-width: 100%;
    margin: 50px auto 0 0;
    padding: 0 10%;
  }

  #skillList {
    margin-top: 30px;
  }

.skillbar {
	position:relative;
	display:block;
  margin-bottom: 10px;
	width:100%;
	background:#eee;
	height:35px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
width:110px;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:35px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.4);
}




  /****************************************
  COLOR
  ****************************************/

 .button--2 {
  -webkit-font-smoothing: antialiased;
  background-color: #222;
  border: none;
  display: block;
  font-size: 0.85em;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  letter-spacing: 0.1em;
  color: white;
  padding: 20px 10px;
  text-transform: uppercase;
  -webkit-transition: background-color 0.1s ease-out;
  -moz-transition: background-color 0.1s ease-out;
  transition: background-color 0.1s ease-out; }

  .button--2:hover {
    background-color: #2CD892;
    color: #fff; }

  .button--2:focus {
    outline: none;
    color: #fff; }

.button--2 {
  outline: 90px solid transparent !important;
  position: relative;
  z-index: 0;
  background-color: transparent; }
  .button--2 .left, .button--2 .right {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    background: #222;
    -webkit-transition: background 0.1s ease-out;
    -moz-transition: background 0.1s ease-out;
    transition: background 0.1s ease-out;
    top: 50%;
    margin-top: -12px;
    z-index: -2; }
    .button--2 .left.left, .button--2 .right.left {
      left: 0; }
    .button--2 .left.right, .button--2 .right.right {
      right: 0; }
  .button--2 .button__bg {
    content: "";
    background: #222;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    -webkit-transition: background 0.1s ease-out;
    -moz-transition: background 0.1s ease-out;
    transition: background 0.1s ease-out; }
  .button--2:hover {
    background-color: transparent; }
    .button--2:hover:before, .button--2:hover span {
      background-color: #2CD892; }
